<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="siphon" type="ChrisLaco.Siphon.Configuration.SiphonConfigurationSection, Siphon" />
	</configSections>
	<log4net>
		<appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
			<mapping>
				<level value="ERROR" />
				<foreColor value="White" />
				<backColor value="Red, HighIntensity" />
			</mapping>
			<mapping>
				<level value="DEBUG" />
				<backColor value="Green" />
			</mapping>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message%newline" />
			</layout>
		</appender>
		<root>
			<level value="ALL" />
			<appender-ref ref="ColoredConsoleAppender" />
		</root>
	</log4net>
<!--
	<siphon>
		<monitors>
			<monitor name="IntervalMonitor" type="ChrisLaco.Siphon.Monitors.LocalDirectoryMonitor, Siphon">
				<settings>
					<add name="Path" value="C:\Temp" />
					<add name="Filter" value="*.tmp" />
				</settings>
				<schedule type="ChrisLaco.Siphon.Schedules.IntervalSchedule, Siphon">
					<interval value="1.2:3:4" />
				</schedule>
				<processor type="ChrisLaco.Tests.Siphon.Processors.MockFileProcessor, SiphonTests" />
			</monitor>
		</monitors>
	</siphon>
-->
</configuration>