<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
		<section name="siphon" type="ChrisLaco.Siphon.SiphonConfigurationSection, Siphon" />
	</configSections>
	<log4net>
		<appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
			<mapping>
				<level value="ERROR" />
				<foreColor value="White" />
				<backColor value="Red, HighIntensity" />
			</mapping>
			<mapping>
				<level value="DEBUG" />
				<backColor value="Green" />
			</mapping>
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%message%newline" />
			</layout>
		</appender>
		<root>
			<level value="INFO" />
			<appender-ref ref="ColoredConsoleAppender" />
		</root>
	</log4net>
<!--
	<siphon>
		<monitors>
			<monitor name="IntervalMonitor" type="ChrisLaco.Siphon.LocalDirectoryMonitor, Siphon">
				<settings>
					<add name="Path" value="C:\" />
					<add name="Filter" value="*.tmp" />
				</settings>
				<schedule type="ChrisLaco.Siphon.IntervalSchedule, Siphon">
					<interval value="1.2:3:4" />
				</schedule>
				<processor type="ChrisLaco.Siphon.DummyProcessor, Siphon" />
			</monitor>
		</monitors>
	</siphon>
-->
  <system.serviceModel>
  <bindings>
   <wsHttpBinding>
    <binding name="WSHttpBinding_ISiphonServiceAdministration" closeTimeout="00:01:00"
     openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
     bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
     maxBufferPoolSize="524288" maxReceivedMessageSize="65536" messageEncoding="Text"
     textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
     <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
      maxBytesPerRead="4096" maxNameTableCharCount="16384" />
     <reliableSession ordered="true" inactivityTimeout="00:10:00"
      enabled="false" />
     <security mode="Message">
      <transport clientCredentialType="Windows" proxyCredentialType="None"
       realm="" />
      <message clientCredentialType="Windows" negotiateServiceCredential="true"
       algorithmSuite="Default" establishSecurityContext="true" />
     </security>
    </binding>
   </wsHttpBinding>
  </bindings>
  <client>
   <endpoint address="http://localhost:8731/ChrisLaco.Siphon.SiphonServiceAdministration/"
    binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISiphonServiceAdministration"
    contract="SiphonServiceAdministration.ISiphonServiceAdministration"
    name="localhost">
    <identity>
     <dns value="localhost" />
    </identity>
   </endpoint>
  </client>
 </system.serviceModel>
</configuration>