<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=1b44e1d426115821"/>
		<section name="siphon" type="ChrisLaco.Siphon.SiphonConfigurationSection, Siphon" />
	</configSections>
	<appSettings>
		<add key="FtpUri" value="ftp://localhost"/>
		<add key="FtpUserName" value="ftp"/>
		<add key="FtpPassword" value="ftp"/>

		<add key="ImapUri" value="imap://localhost"/>
		<add key="ImapUserName" value="imap"/>
		<add key="ImapPassword" value="imap"/>

		<add key="Pop3Uri" value="pop://localhost"/>
		<add key="Pop3UserName" value="pop3"/>
		<add key="Pop3Password" value="pop3"/>
	</appSettings>
	<connectionStrings>
		<add name="SiphonTestConnectionStringName" connectionString="Data Source=.;Initial Catalog=;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="SiphonTests" connectionString="Data Source=|DataDirectory|\Database\SiphonTests.sdf" providerName="System.Data.SqlServerCe.3.5" />
	</connectionStrings>
	<log4net>
		<appender name="TraceAppender" type="log4net.Appender.TraceAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level - [%thread] - %message%newline" />
			</layout>
		</appender>
		<appender name="FileAppender" type="log4net.Appender.FileAppender">
			<file value="C:\debug.log" />
			<appendToFile value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="INFO" />
			<!--<appender-ref ref="FileAppender" />-->
			<appender-ref ref="TraceAppender" />
		</root>
	</log4net>
	<!-- Test Monitor Configuration -->
	<siphon enableRemoteAdministration="True">
		<monitors>
			<monitor name="IntervalMonitor" type="ChrisLaco.Siphon.LocalDirectoryMonitor, Siphon">
				<settings>
					<add name="Path" value="C:\Temp" />
					<add name="Filter" value="*.tmp" />
          <add name="ProcessCompleteActions" value="Rename, Move" />
          <add name="ProcessFailureActions" value="Delete" />
				</settings>
				<schedule type="ChrisLaco.Siphon.IntervalSchedule, Siphon">
					<interval value="1.2:3:4" />
          <exclusions>
            <exclude from="1/1/2007 12:31PM" to="1/3/2007 2:31PM" />
            <exclude from="1:2:3" to="2:3:4" />
          </exclusions>
				</schedule>
				<processor type="ChrisLaco.Tests.Siphon.MockProcessor, SiphonTests" />
			</monitor>
			<monitor name="DailyMonitor" type="ChrisLaco.Siphon.FtpDirectoryMonitor, Siphon">
				<settings>
					<add name="Path" value="ftp://foo.bar.baz/" />
				</settings>
				<schedule type="ChrisLaco.Siphon.DailySchedule, Siphon">
					<daily>
						<time value="1:23" />
						<time value="12:23" />
						<time value="2:34:56" />
					</daily>
				</schedule>
				<processor type="ChrisLaco.Tests.Siphon.MockProcessor, SiphonTests" />
			</monitor>
		</monitors>
	</siphon>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ChrisLaco.Siphon.AdministrationBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="ChrisLaco.Siphon.AdministrationBehavior" name="ChrisLaco.Siphon.SiphonServiceAdministration">
        <endpoint address="" binding="wsHttpBinding" contract="ChrisLaco.Siphon.ISiphonServiceAdministration">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8731/ChrisLaco.Siphon.SiphonServiceAdministration/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
