<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="siphon" type="ChrisLaco.Siphon.SiphonConfigurationSection, Siphon, Version=1.0.0.0, Culture=neutral, PublicKeyToken=0576062738dd7ad9" />
    </configSections>
    <siphon>
        <monitors>
            <monitor name="TestMonitor" type="LocalDirectoryMonitor, Siphon">
                <schedule type="IntervalSchedule, Siphon">
                    <interval value="00:01:00" />
                    <daily>
                        <time value="00:00:00.0000100" />
                        <time value="00:00:00.0000200" />
                    </daily>
                    <exceptions>
                        <except from="1:2:3" to="4:5:6" />
                    </exceptions>
                </schedule>
                <processor type="MockProcessor, SiphonTests">
                    <settings>
                        <add name="Foo" value="Bar" />
                    </settings>
                </processor>
                <settings>
                    <add name="Path" value="C:\" />
                </settings>
            </monitor>
        </monitors>
    </siphon>
</configuration>