<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="siphon" type="ChrisLaco.Siphon.Configuration.ConfigurationSection, Siphon" />
	</configSections>
	<siphon> 
		<monitors>
			<monitor name="IntervalMonitor" type="ChrisLaco.Siphon.Monitors.LocalDirectoryMonitor, Siphon">
				<settings>
					<add name="Path" value="C:\Temp" />
					<add name="Filter" value="*.tmp" />
				</settings>
				<schedule type="ChrisLaco.Siphon.Schedules.IntervalSchedule, Siphon">
					<interval value="1.2:3:4" />
				</schedule>
				<processor type="ChrisLaco.Tests.Siphon.Processors.MockFileProcessor, SiphonTests" />
			</monitor>
			<monitor name="DailyMonitor" type="ChrisLaco.Siphon.Monitors.FtpDirectoryMonitor, Siphon">
				<settings>
					<add name="Path" value="ftp://foo.bar.baz/" />
				</settings>
				<schedule type="ChrisLaco.Siphon.Schedules.DailySchedule, Siphon">
					<daily>
						<time value="1:23" />
						<time value="12:23" />
						<time value="2:34:56" />
					</daily>
				</schedule>
				<processor type="ChrisLaco.Tests.Siphon.Processors.MockQueueMessageProcessor, SiphonTests" />
			</monitor>
		</monitors>
	</siphon>
</configuration>